name: Publish Docker image

on:
  push:
    branches: [ release ]

jobs:
  push_to_registries:
    name: Push Docker image to mooplab harbor
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Push to Harbor
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: reg.mooplab.com/tibetan-dict/
          tag_with_ref: true
